{% load static %} <!-- 1-1 static으로설정한 것들불러와라 -->
<head>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrit$
crossorigin="anonymous">
 <link rel="stylesheet" href="{% static 'css/cover.css' %}">  <!-- 1-2 불러온것중에서 cover.css를쓰겠다 -->
</head>
<body class="text-center"> <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">바리스톡</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="../ ">Home</a>
        <a class="nav-link" href=" ">채팅</a>
        <a class="nav-link" href="#">카테고리</a>
        <a class="nav-link" href="#">심리</a>
      </nav>
    </div>
  </header>
  <main role="main" class="inner cover">
    <h1 class="cover-heading">대화를 시작해보세요</h1>
    <iframe height="430" width="350" src="https://bot.dialogflow.com/7c93937f-70f4-4fd4-977d-08f355234377"></iframe>
    <p class="lead">대화를 통해 마음에 드는 커피를 찾아보세요
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">카페찾기</a>
  </main>
  <footer class="mastfoot mt-auto">
<!-- 푸터는 일단 생략
    <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/m$
    </div>
-->
  </footer> </div>
<body>

